*{
    font-family: sans-serif;
    transition-duration: 400ms;
}
body{
    background-color: #cd7f20;
    margin: 0;
}
::selection{
    background-color: #340100;
    color: #faa72b;
}
/* Header */
header{
    text-align: center;
    background-color: #9f5715;
    padding: 1px;
    border-radius: 0 0 10px 10px;
    color: #faa72b;
    box-shadow: 0px 5px 20px 7px #340100;
    user-select: none;
}
header span{
    background-color: #faa72b;
    padding: 0 7px;
    color: #340100;
}
/* content */
.content{
    display: flex;
    margin: 50px;
    justify-content:center;
    align-items: start;
    flex-wrap: wrap;
    gap: 30px;
}
/* card */
.card{
    min-height: 700px;
    width: 350px;
    background-color: #9f5715;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    box-shadow: 10px 10px 20px #340100;
}
.card img{
    width: 250px;
    height: 320px;
    border-radius: 20px 20px 0 0;
    background-size: cover;
    margin: 10px;
    background-color: #cd7f20;
}
.card h2{
    margin: 0;
}
.NomeClasse{
    background-color: #faa72b;
    padding: 10px 20px;
    color: #340100;
    border-radius: 7px;
    user-select: none;
    
}
.card p{
    color:#f9ebd8;
    width: 300px;
}
.saiba-mais{
    background-color: #faa72b;
    padding: 10px 20px;
    color: #340100;
    margin: 10px;
    border-radius: 7px;
    user-select: none;
    transition-duration: 400ms;
}
.saiba-mais:hover{
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 5px 10px #340100;
    transition-duration: 400ms;
}
.mais{
    display: none;
    user-select: none;
}
.mais table{
    background-color: #faa72b;
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
}
.mais td{
    background-color: #340100;
    color: #faa72b;
    border-radius: 10px;
    padding: 5px;
}
/* raças */
.icone{
    width: 250px;
    max-height:310px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    box-shadow: 5px 5px 10px #340100;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
}
.icone img{
    width: 200px;
    height: 200px;
    background-size: cover;
    margin: 10px;
    background-color: #cd7f20;
}
.nome_raca{
    background-color: #faa72b;
    padding: 10px 20px;
    color: #340100;
    border-radius: 7px;
    user-select: none;
}
.desc_raca{
    padding:10px;
    margin: 10px;
    position: relative;
    display: none;
}
.desc_raca td{
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
}
.desc_raca table{
    color: #340100;
    background-color: #faa72b;
    border-radius: 35px;
    padding: 10px;
    box-shadow: 5px 5px 10px #340100;
}
.icone:hover{
    .desc_raca{
        display: flex;
    }
}

